:root {
  --background-section: gray;
}

html {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
}

.unstyled-list {
  list-style: none;
}

.navigation-list li a {
  color: #ffffff;
  text-decoration: none;
}

.link {
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.header-navigation,
.page-section,
.here-section {
  background-color: var(--background-section);
}

.online-booking-button {
  box-sizing: border-box;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  background: rgba(25, 28, 38, 0.2);
}

.here-sub-title-section {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.here-title-section {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.here-text-section {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.sub-title-section {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;

  color: #303030;
}
